{% extends 'base.html.twig' %}

{% block body %}
    <div class="card mt-3">
        <div class="card-header">
            {{ 'module.data.table.title'|trans }}
        </div>
        <div class="card-body p-0">
            {{ data_table_action_bar(module_data_table_view) }}
            {{ data_table_table(module_data_table_view) }}
            {{ data_table_pagination(module_data_table_view) }}
        </div>
    </div>
{% endblock %}
