{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-3">
        {{ data_table_action_bar(modules, { 'title': 'modules.data.table.title'|trans }) }}
        {{ data_table_table(modules) }}
        <div class="mt-3">
            {{ data_table_pagination(modules) }}
        </div>
    </div>
{% endblock %}
