services:
  test-manager:
    build: .
    restart: always
    container_name: test-manager-dev
    ports:
      - 8084:80
    depends_on:
      - test-manager-postgres-dev
    env_file:
      - .env.dev
    volumes:
      - .:/var/www

  test-manager-postgres-dev:
    image: postgres
    ports:
      - 8085:5432
    container_name: test-manager-postgres-dev
    restart: always
    env_file:
      - .env.dev