{% extends 'base.authenticated.html.twig' %}

{% block title %} 
    {{ 'templates.question.create.title'|trans }} 
{% endblock %}

{% block container %}
    <div class="mt-2">
        {{ component('AddQuestionToModuleForm', { 
            moduleId: moduleId 
        }) }}
    </div>
{% endblock %}
