{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'templates.question.details.title'|trans }} 
{% endblock %}

{% block body %}
    <div class="mt-2">
        {{ component('TriggerModal', {
            modalIdTarget: 'deleteQuestionModal',
            buttonClass: 'btn btn-danger',
            buttonBody: 'templates.question.details.delete'|trans,
            defer: true
        }) }}

        <div class="mt-2">
            {{ component('QuestionForm', { 
                moduleProp: module, 
                questionProp: question, 
                defer: true 
            }) }}
        </div>
    </div>

    {{ component('Modal', {
        modalId: 'deleteQuestionModal',
        modalTitle: 'modal.title'|trans,
        modalBody: 'modal.body'|trans,
        closeButtonText: 'modal.close'|trans,
        actionButtonText: 'modal.module.details.delete'|trans,
        actionButtonClass: 'btn btn-danger',
        actionButtonHref: path('app_question_delete', {
            moduleId: module.id,
            questionId: question.id
        }),
        defer: true
    }) }}
{% endblock %}
