{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'title.edit.question'|trans }} 
{% endblock %}

{% block body %}
    <div class="mt-2">
        {{ component('QuestionForm', { moduleId: moduleId, questionId: questionId, defer: true }) }}
    </div>
{% endblock %}
