{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'title.edit.question'|trans }} 
{% endblock %}

{% block body %}
    <div class="mt-2">
        {{ component('TriggerModal', {
            modalIdTarget: 'deleteQuestionModal',
            buttonClass: 'btn btn-danger',
            buttonBody: 'Delete question',
            defer: true
        }) }}

        <div class="mt-2">
            {{ component('QuestionForm', { moduleProp: module, questionProp: question, defer: true }) }}
        </div>
    </div>

    {{ component('Modal', {
        modalId: 'deleteQuestionModal',
        modalTitle: 'Delete question',
        modalBody: 'Are you shure?',
        closeButtonText: 'Close',
        actionButtonText: 'Delete',
        actionButtonClass: 'btn btn-danger',
        actionButtonHref: path('app_home_index'),
        defer: true
    }) }}
{% endblock %}
