{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'title.edit.question'|trans }} 
{% endblock %}

{% block body %}
    <div class="mt-2">
        {{ component('TriggerModal', {
            modalIdTarget: 'deleteQuestionModal',
            buttonClass: 'btn btn-danger',
            buttonBody: 'question.delete.trigger.modal.body'|trans,
            defer: true
        }) }}

        <div class="mt-2">
            {{ component('QuestionForm', { moduleProp: module, questionProp: question, defer: true }) }}
        </div>
    </div>

    {{ component('Modal', {
        modalId: 'deleteQuestionModal',
        modalTitle: 'question.delete.modal.title'|trans,
        modalBody: 'question.delete.modal.body'|trans,
        closeButtonText: 'question.delete.modal.close'|trans,
        actionButtonText: 'question.delete.modal.action'|trans,
        actionButtonClass: 'btn btn-danger',
        actionButtonHref: path('app_question_delete', {
            moduleId: module.id,
            questionId: question.id
        }),
        defer: true
    }) }}
{% endblock %}
