{% extends 'testSolve/base.html.twig' %}

{% block wrapper %}
    <div class="d-flex flex-column justify-content-center">
        <pre class="w-100 pre-test-message p-4">{{ introduction_message() }}</pre>
    </div>
{% endblock %}
    