{% extends 'testSolve/base.html.twig' %}

{% block wrapper %}
    {% if type == 'introduction' %}
        {{ component('TestSolveMessage', {
            'message': htmlFormat(testMessageAppSetting.introduction|default(null)),
            'notFoundMessage': 'templates.testSolve.introduction.notFoundMessage'
        }) }}

        <a 
            class="btn btn-success mb-2" 
            href="{{ path('app_testsolve_solve', { id: testId }) }}" 
            role="button"
        >
            {{ 'templates.testSolve.introduction.goToTest'|trans }}
        </a>
    {% elseif type == 'conclusion' %}
        {{ component('TestSolveMessage', {
            'message': htmlFormat(testMessageAppSetting.conclusion|default(null)),
            'notFoundMessage': 'templates.testSolve.introduction.notFoundMessage'
        }) }}
    {% endif %}
{% endblock %}