{% extends 'testSolve/base.html.twig' %}

{% block wrapper %}
    <div class="row justify-content-center mb-3">
        {% for video in test.module.videos %}
            <div class="col-12">
                <video 
                    class="w-100 border rounded shadow-sm"
                    controls
                    src="{{ path('app_testsolve_video', { testId: test.id, videoId: video.id }) }}">
                </video>
            </div>
        {% endfor %}
    </div>

    {{ component('TestSolveForm', {
        'testProp': test
    }) }}
{% endblock %}