{% extends 'testSolve/base.html.twig' %}

{% block wrapper %}
    <div class="row justify-content-center mb-3">
        {% for testVideo in dataForTestSolve.testVideos %}
            <div class="col-12">
                <video 
                    class="w-100 border rounded shadow-sm"
                    controls
                    src="{{ path('app_testsolve_video', { testId: dataForTestSolve.testId, videoId: testVideo.videoId }) }}">
                </video>
            </div>
        {% endfor %}
    </div>

    {{ component('TestSolveForm', {
        'dataForTestSolve': dataForTestSolve
    }) }}
{% endblock %}