{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-2">
        {{ component('MailSmtpAppSettingForm', { 
            mailSmtpAppSetting: mailSmtpAppSetting,
            defer: true 
        }) }}
    </div>
{% endblock %}
