{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'title.upload.video'|trans }} 
{% endblock %}

{% block body %}
    <div class="mt-5">
        {{ component('VideoUpload', { moduleId: moduleId, defer: true }) }}
    </div>
{% endblock %}
