{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'templates.video.upload.title'|trans }} 
{% endblock %}

{% block body %}
    <div class="mt-2">
        <a 
            href="{{ path('app_module_details', { id: moduleId }) }}" 
            class="btn btn-primary" 
            role="button"
        >
            {{ 'templates.video.upload.module'|trans }}
        </a>
        
        <div class="mt-3">
            {{ component('VideoUpload', { moduleId: moduleId, defer: true }) }}
        </div>
    </div>
{% endblock %}
