.drop-zone-container {
  height: 50vh;
  border: 2px dashed #dcdedf;
  border-radius: 12px;
  background-color: #171d25;
}

.btn,
input.form-control,
select.form-select,
.dropdown-menu,
.page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

[id^="kreyu_data_table"] .table-responsive table thead {
  text-wrap: nowrap;
}

[id^="kreyu_data_table"] .pagination {
  text-wrap: nowrap;
  display: flex !important;
  flex-direction: row !important;
  padding: 10px;
}

.text-limit {
  max-width: 350px;
}

.pre-test-message {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.7;
  padding-right: 2em;
}

.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75em;
  width: 1em;
  height: 1em;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  transform: translateY(-50%);
}

@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.text-footer {
  font-size: 0.7rem;
  user-select: none;
}

.csv-example {
  font-family: monospace;
  overflow-x: auto;
  white-space: nowrap;
}

@media only screen and (max-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
