.drop-zone-container {
  height: 50vh;
  border: 2px dashed #dcdedf;
  border-radius: 12px;
  background-color: #171d25;
}

.btn,
input.form-control,
select.form-select,
.dropdown-menu,
.page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

[id^="kreyu_data_table"] .table-responsive table thead {
  text-wrap: nowrap;
}

[id^="kreyu_data_table"] .pagination {
  text-wrap: nowrap;
  display: flex !important;
  flex-direction: row !important;
  padding: 10px;
}

#kreyu_data_table_module .table-responsive {
  height: calc(100vh - 56px - 51px - 31px);
}

#kreyu_data_table_question .table-responsive,
#kreyu_data_table_video .table-responsive {
  height: calc(100vh - 56px - 51px - 31px - 42px);
}

.text-limit {
  max-width: 350px;
}
