{% extends 'base.authenticated.html.twig' %}

{% block title %} 
    {{ 'templates.module.base_details.title'|trans({ '%id%': module.id }) }} 
{% endblock %}

{% block container %}
    <nav class="nav nav-tabs">
        {{ component('NavLink', { 
            path: path('app_module_general', {
                id: module.id
            }),
            label: 'templates.module.base_details.nav.general'
        }) }}


        {{ component('NavLink', { 
            path: path('app_module_questions', {
                id: module.id
            }),
            label: 'templates.module.base_details.nav.questions'
        }) }}

        {{ component('NavLink', { 
            path: path('app_module_videos', {
                id: module.id
            }),
            label: 'templates.module.base_details.nav.videos'
        }) }}
    </nav>

    {% block wrapper %}{% endblock %}
{% endblock %}