{% extends 'base.html.twig' %}

{% block title %} {{ 'title.module.details'|trans }} {% endblock %}

{% block body %}
    <div class="mt-5">
        {{ data_table(questions) }}
    </div>
    
    <div class="mt-5">
        {{ form(form) }}
    </div>
{% endblock %}
