{% extends 'module/base.html.twig' %}

{% block wrapper %}
    <div class="d-flex justify-content-end">
        <a 
            href="{{ path('app_test_create', { id: module.id }) }}" 
            class="btn btn-primary" 
            role="button"
        >
            {{ 'templates.module.general.createTest'|trans }}
        </a>
    </div>

    <div class="mt-2">
        {{ component('ModuleForm', { 
            moduleProp: module
        }) }}
    </div>
{% endblock %}