{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'templates.test.base_solve.title'|trans({ '%id%': test.id }) }} 
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-xl-10 mt-3 mt-xl-0">
            {% block wrapper %}{% endblock %}
        </div>

        <div class="col-12 col-xl-2">
            <div class="nav nav-pills flex-column">
                {{ component('NavLink', { 
                    path: path('app_test_introduction', {
                        id: test.id
                    }),
                    label: 'templates.test.base_solve.nav.introduction'
                }) }}
        
                {{ component('NavLink', { 
                    path: path('app_test_conclusion', {
                        id: test.id
                    }),
                    label: 'templates.test.base_solve.nav.conclusion'
                }) }}
            </div>
        </div>
    </div>
{% endblock %}