{% extends 'base.authenticated.html.twig' %}

{% block title %} 
    {{ 'templates.test.create.title'|trans }} 
{% endblock %}

{% block container %}
    <div class="mt-2">
        {{ component('CreateTestForm', { 
            moduleId: moduleId,
            testModel: testModel
        }) }}
    </div>
{% endblock %}
