{% extends 'base.authenticated.html.twig' %}

{% block title %} 
    {{ 'templates.test.create.title'|trans }} 
{% endblock %}

{% block container %}
    <p class="h-6 text-muted">
        {{ 'templates.test.create.info'|trans({ '%moduleId%': module.id }) }}
    </p>

    <div class="mt-2">
        {{ component('TestForm', { moduleProp: module }) }}
    </div>
{% endblock %}
