{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'templates.test.welcome.title'|trans({ '%id%': test.id }) }} 
{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center">
        <pre class="w-100 pre-test-message p-4">{{ welcome_message(test.module) }}</pre>
        
        {# Temporary farewell message for testing #}
        <pre class="w-100 pre-test-message p-4">{{ farewell_message(test.module) }}</pre>
    </div>
{% endblock %}
    