<!doctype html>
<html 
    lang="en" 
    data-bs-theme="light"
>
    <head>
        <meta charset="utf-8" />
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1" 
        />
        <meta 
            name="turbo-cache-control" 
            content="no-cache" 
        />
        
        <title>
            {% block title %} 
                {{ 'templates.base.title'|trans }} 
            {% endblock %}
        </title>    

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>

    <body {{ stimulus_controller('turbo-navigation') }}>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ component('Nav') }}
        {% endif %}
        
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
