<button 
    {{ attributes }}
    type="button"
    class="{{ buttonClass|default('btn btn-primary') }}"
    data-bs-toggle="modal"
    data-bs-target="#{{ modalIdTarget }}"
>
    {{ buttonBody }}
</button>