{% extends 'base.html.twig' %}

{% block title %}
    {{ 'templates.auth.login.title'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 vh-100">
            <div 
                class="d-flex align-items-center justify-content-center h-100"
            >
                <div class="w-100 p-4">
                    <h1>
                        {{ 'templates.auth.login.header'|trans }}
                    </h1>
                    
                    {{ form(form) }}
                </div>
            </div>
        </div>
        <div 
            class="col-6 vh-100 d-none d-lg-block"
        >
            <img 
                src="{{ asset('images/test.jpg') }}" 
                class="h-100 w-100 object-fit-cover" 
                alt="login-image"
            />
        </div>
    </div>
{% endblock %}